:root {
  --primaryColor: #b54646;
  --primaryIColor: #4ab9b9;
  --secondaryColor: #d59d50;
  --secondaryIColor: #2a62af;
  --mainBlack: #21202a;
  --mainWhite: white;
  --mainGray: #343343;
  --secondaryGray: #8785a2;
  --mainSpacing: 1px;
  --mainHeight: 1.5;
  --mainRadius: 4px;
  --mainTransition: all 0.2s linear;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: var(--mainSpacing);
  line-height: var(--mainHeight);
}

body {
  font-size: medium;
}

.main-navbar {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px;
  text-align: center;
  background: var(--mainGray);
}

.main-btn {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primaryColor);
  background: none;
  border: none;
  font-size: xx-large;
  font-weight: bolder;
  transition: transform 0.5s ease-in-out, color 0.5s linear;
  margin-bottom: 8px;
}

.dropdown-content {
  opacity: 0;
  transition: var(--mainTransition);
}

.dropdown-content p {
  text-align: left;
  color: var(--mainWhite);
}

#casual {
  height: 307px;
  object-fit: cover;
  float: right;
  margin-left: 4px;
  border: 2px solid;
  border-color: var(--primaryColor);
  border-radius: 8px;
  transition: transform 0.5s ease-in-out, border-color 0.5s linear;
}

#casual:hover {
  transform: skewX(1deg);
}

.main-link {
  font-size: medium;
  text-decoration: none;
  color: var(--secondaryColor);
  transition: var(--mainTransition);
}

.main-link:hover {
  color: var(--secondaryIColor);
  text-decoration: underline;
}

.dropdown:hover .main-btn {
  transform: translateY(-2px);
  color: var(--primaryIColor);
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
}

.dropdown:hover #casual {
  border-color: var(--primaryIColor);
}

.project-tag {
  background: var(--primaryIColor);
  color: var(--mainBlack);
  border-radius: 2px;
  padding: 4px;
  text-transform: capitalize;
  font-size: smaller;
  line-height: 1;
  display: inline-block;
  transition: var(--mainTransition);
}

.project-tag:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-decoration: underline;
}

.content-container {
  padding-top: 64px;
  background: var(--mainGray);
}

.main-header {
  background: var(--mainBlack);
  padding: 8px;
  position: fixed;
  width: 100vw;
  border-bottom: 1px var(--primaryColor) solid;
}

.project-header {
  color: var(--mainWhite);
  height: 50vh;
}

.project-header h1 {
  color: var(--primaryColor);
  text-transform: capitalize;
  display: inline;
  transition: var(--mainTransition);
  margin: 0 4px;
}

.project-header h3 {
  text-transform: capitalize;
  margin: 0 4px;
}

.project-header p {
  margin: 0 4px;
}

.project-header h1:hover {
  color: var(--primaryIColor);
  text-decoration: underline;
}

.main-list {
  background: var(--mainBlack);
  border: 1px var(--mainBlack) inset;
  border-radius: var(--mainRadius);
  padding: 4px;
  margin: 4px;
  text-align: left;
}

.main-list li {
  list-style: none;
  margin: 2px;
  font-size: small;
  text-transform: uppercase;
  color: var(--mainWhite);
}

.main-list li a {
  font-size: small;
}

.poems {
  background: white;
  padding: 16px;
}

.poems p {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}

.poems p::before {
  content: "(CNN) — ";
  font-weight: bold;
}

.poems h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  border-top: 1px solid var(--secondaryGray);
  margin-top: 16px;
}

.poems h4::before {
  content: "";
  width: 2px;
  height: 16px;
  margin-left: -6px;
  margin-right: 6px;
  background: var(--mainBlack);
  display: inline-block;
}

#poem-count {
  color: var(--mainGray);
  text-align: right;
}

#poem-count::before {
  content: "";
}

.unindent {
  margin-right: -6px;
}

@media screen and (max-width: 768px) {
  .main-btn {
    font-size: large;
  }
  #casual {
    height: 154px;
    float: none;
  }
}
