:root {
  --primaryColor: #b54646;
  --primaryIColor: #4ab9b9;
  --secondaryColor: #d59d50;
  --secondaryIColor: #2a62af;
  --mainBlack: #21202a;
  --mainWhite: #edede8;
  --mainGray: #343343;
  --secondaryGray: #8785a2;
  --mainSpacing: 1px;
  --mainHeight: 32px;
  --mainRadius: 4px;
  --mainTransition: all 0.2s linear;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: var(--mainSpacing);
}

body {
  background: var(--mainGray);
}

.main-navbar {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}

.main-navbar button {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primaryColor);
  background: none;
  border: none;
  font-size: 64px;
  font-weight: bolder;
  text-align: center;
  transition: transform 0.5s ease-in-out, color 0.5s linear;
  animation: fadeIn 1s linear;
}

.main-btn:hover {
  transform: translateY(-8px);
  color: var(--primaryIColor);
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  transition: var(--mainTransition);
}

.dropdown-content li {
  list-style: decimal;
  margin: 4px;
}

.dropdown-content li::marker {
  color: var(--mainWhite);
}

.main-link {
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
  color: var(--secondaryColor);
  transition: var(--mainTransition);
}

.main-link:hover {
  color: var(--secondaryIColor);
  text-decoration: underline;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
}

.content-container {
  line-height: var(--mainHeight);
  padding-top: 64px;
  background: var(--mainGray);
}

.main-header {
  background: var(--mainBlack);
  padding: 8px;
  position: fixed;
  width: 100vw;
  border-bottom: 1px var(--primaryColor) solid;
}

.project-header {
  color: var(--mainWhite);
  margin: 0 12px;
  text-align: justify;
}

.project-header h1 {
  color: var(--primaryColor);
  text-transform: capitalize;
  display: inline;
  transition: var(--mainTransition);
}

.project-header h3 {
  text-transform: capitalize;
  border-bottom: 1px var(--mainWhite) solid;
  margin-bottom: 12px;
}

.project-header h1:hover {
  color: var(--primaryIColor);
  text-decoration: underline;
}

.resource-list {
  background: var(--mainBlack);
  border: 2px var(--secondaryColor) outset;
  border-radius: var(--mainRadius);
  padding: 0 4px;
  margin: 24px;
}

.resource-list li {
  list-style: none;
  margin: 2px;
  line-height: 16px;
  font-size: small;
  text-transform: uppercase;
}

.resource-list li a {
  font-size: small;
}

.project-tag {
  background: var(--primaryColor);
  border-radius: var(--mainRadius);
  padding: 4px;
  text-transform: capitalize;
  font-size: small;
  display: inline-block;
  transition: var(--mainTransition);
  line-height: 16px;
}

.project-tag:hover {
  background: var(--primaryIColor);
  color: var(--mainBlack);
}

.poems {
  background: var(--mainWhite);
  padding: 16px;
}

.poems p {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}

.poems p::before {
  content: "(CNN) — ";
  font-weight: bold;
}

.poems h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  border-top: 1px lightgray solid;
  margin-top: 16px;
}

.poems h4::before {
  content: "";
  width: 2px;
  height: 16px;
  margin-right: 6px;
  background: var(--mainBlack);
  display: inline-block;
}

#poem-count {
  color: var(--mainGray);
  text-align: right;
}

#poem-count::before {
  content: "";
}

.unindent {
  margin-right: -6px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1s;
  }
}

@media screen and (max-width: 768px) {
  .main-navbar button {
    font-size: 32px;
  }
  .dropdown-content {
    opacity: 1;
  }
}

/* .home-panel {
  background: var(--mainBlack);
  color: var(--secondaryColor);
  border: 4px var(--secondaryColor) solid;
  padding: 8px;
}

body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}

.main-container {
  margin: 48px 12px;
}

.main-container p {
  margin: 8px;
}

.hero {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px 24px;
  align-content: center;
}

.hero h1 {
  color: var(--primaryColor);
}

.hero h1,
.hero h3 {
  animation: slideFromTop 1s ease-out 1;
}

.hero p {
  margin: 0;
  animation: slideFromBottom 1s ease-out 1;
}

.a-title {
  font-weight: bold;
}

.main-navbar {
  background: var(--mainBlack);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-navbar ul {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main-navbar li {
  list-style: none;
  padding: 0 1rem;
}

.main-navbar a {
  color: var(--primaryColor);
  text-decoration: none;
  display: block;
  padding: 0;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-navbar a:hover {
  color: var(--mainWhite);
}

.resource-list {
  margin: 24px;
}

.resource-list li {
  color: var(--primaryColor);
  list-style-type: square;
  margin: 4px;
  font-size: small;
}

.resource-list li a {
  color: var(--primaryColor);
}

#poem-count {
  font-size: small;
  color: var(--mainGray);
  margin-top: 2rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--mainBlack);
}

.poems {
  line-height: 32px;
  transition: var(--mainTransition);
  animation: fadeIn 1s ease-in-out 1;
}

.poems p {
  font-size: small;
  margin: 0 0 32px 32px;
}

.poems p::before {
  content: "(CNN) — ";
  font-weight: bold;
}

.poems h4::before {
  content: "";
  width: 4px;
  height: 16px;
  margin-right: 6px;
  background: var(--mainBlack);
  display: inline-block;
}

.indent {
  margin: -4px;
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
